/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts8/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts8/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts8/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts8/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts8/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts8/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  } 
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts8/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts8/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /*header*/
  *{
    margin: 0px;
    padding: 0px;
}
.container {
    min-width: 320px;
    max-width: 260px;
    margin: 0 auto;
}
nav ul li {       
    list-style: none;    

}
.Rectangle_1 {
    background-color: rgb(26, 25, 21);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 540px;
    z-index: 44;
  }
  
.banner {
    background-image: url("../img8/Vector-Smart-Object.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(26, 25, 21, 0);

}
.beginning {
    
    margin: 0 auto;
    display: flex; 
    flex-direction: column;    
    padding-top: 20px;
    height:520px;

}

.two-button{
    width: 240px;
    height: 42px;
    display: flex;
    margin: auto;
    flex-direction: row;
    margin-bottom: 115px;
    justify-content: space-evenly;
    text-align: center;
}

.enter {
    width: 90px;
    height: 40px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;  
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0);   
    background-color: inherit;
}

.enter:hover {
    border: 2px solid rgba(255, 255, 255, 1);

}

.urlaubsgluck {
    margin: auto;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 38px;
}

.share {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 19px;   

}

.text {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    width: 217px;
    margin-bottom: 19px;

}
.find_partners {
    margin: auto;
    display: block;
    width: 280px;
    height: 40px;
    border: none;
    text-align: center;
    color: #ffffff;    
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;    
    background-color: #ff4e50;
    border-radius: 20px;

}
    
 /*section*/
.meet {
    display: block;
    margin: auto;
    width: 258px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    padding: 70px 31px 15px;
    

}
.partner_list {
    margin: auto;
}

.list-partner {
    display: flex;
    flex-direction: column;
}
ul li {
    list-style: none;
}
.item-partner {

    display: flex;
    margin: auto;
    width: 236px;
    height: 236px;

}
.Lukas_Marsha {
    height: 238px;
}
.pictures {
    
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

}
.face {
    position: relative;
}
.face_Bradley_Hunter::after {
        position: absolute;
        content: "";        
        right: 0px;
        bottom: 0px;       
        height: 31px;
        width: 31px;
        border: 4px solid #ffffff;
        background-image: url("../icon8/Shape_128.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-color: #f38181;
}
.face_Lukas_Marsha::after {
        position: absolute;
        content: "";        
        right: 0px;
        bottom: 0px;       
        height: 31px;
        width: 31px;
        border: 4px solid #ffffff;
        background-image: url("../icon8/Shape_155.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-color: #ffa507;

}
.face_Heather_Walker::after {
        position: absolute;
        content: "";        
        right: 0px;
        bottom: 0px;       
        height: 31px;
        width: 31px;
        border: 4px solid #ffffff;
        background-image: url("../icon8/Shape_153.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-color: #1cd7ad;

}
.face_Sindy_Crowford::after {
    position: absolute;
    content: "";        
    right: 0px;
    bottom: 0px;       
    height: 31px;
    width: 31px;
    border: 4px solid #ffffff;
    background-image: url("../icon8/Shape_170.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #4e73db;

}

.name {
    display: block;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;

}
.who-i-am {
    margin: 0 auto;
    display: block;
    width: 194px;
    font-size: 14px;
    color: #666666;
    line-height: 1;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
    margin: auto;
}
.item-partner {
    margin: auto;
    padding-bottom: 15px;

}
.team-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 236px;
}
.end_button{
    margin-bottom: 57px;
}
.other_partners {
    display: block;
    margin: auto;
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    background-color: #ffffff;
    border-radius: 20px;
    color: #ff4e50;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}


  @media (min-width: 768px) {

    .container {
    min-width: 768px;   
    
}

.banner {  
    margin: 0px auto;
    background-image: url("../img8/ddd.png") ;
    background-repeat: no-repeat;
    background-color: rgba(26, 25, 21, 0);
    background-size: cover;
    min-width: 768px;
    height:699px;

}
.two-button {
    margin: 0px;
}
.meet {
    margin: auto;
    width: 420px;
    
}
.item-partner {
    width: 236px;
    height: 236px;
}
.list-partner {
    margin: auto;
    width: 500px;
    height: 530px;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-partner:nth-child(even){
    margin-bottom: 40px;
}

.team-pictures {
    height: 260px;
}
.beginning_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 50px 50px 163px;
}
.urlaubsgluck{
    
    margin-left: 0px;
}

.share {
    
    font-size: 52px;
    
}
.text {
    width: 368px;
}
  }
  @media (min-width: 960px) {
    .container {
        min-width: 960px;
       
        
    }
    .banner {  
        background-image: url("../img8/Vector_Smart_desktop.png") ;
        background-color: rgba(26, 25, 21, 0);
        min-width: 960px;
        height:702px;
    
    }
    .list-partner {
        margin: auto;
        width: 846px; 
        height: 260px;
        flex-direction: row;
        flex-wrap: nowrap;
    
    }
    .team-pictures{
        margin-right: 20px;
    }
    .team-pictures:last-child {
        margin-right: 0px;

    }
    .text {
        width: 368px;
        margin-bottom: 41px;
    }
    .find_partners {
        margin-top: 0 ;
        
    }
    .Lukas_Marsha{
        order: 1;
    }
    .Sindy_Crowford {
        order: 2;
    }
    
    
}
