*{
    margin: 0px;
    padding: 0px;
}
body {
    /*width: 1600px;*/    
    height: auto;
    margin: 0px auto;
}


header {
  width: 1110px;
  height: auto;
  margin: 0px auto; 
  padding-bottom: 16px;
 
}

.container {
    width: 1110px;
    height: auto;
    margin: 0 auto;
  
    
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.collection {
    padding-top: 98px;
    padding-bottom: 98px;    
    background-color: #e9f0fd;
    
}
nav ul li {   
     
    list-style: none;
    float: left;    

}
.link {
    display: inline-block;
}
.navigator {
    
    display: block;
    float: right;
    width: 467px;
    margin-top: 22px;
  
}
.basicitem {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
} 
 .link {   
    font-family: 'Open+Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: 900;
    margin: 0px;

}

li
{ margin-right: 30px;}
ul .item:last-child {
    margin-right: 0px;
}

.item :hover { color: #1abc9c  ;}

.logotype 
{
    float: left;
    margin-top: 22px;
      
    
}
.logotype {
    text-decoration: none;
    font-family: 'Roboto black', sans-serif;
    font-size: 21px;
    font-weight: 100;
}
.logotype::first-letter {
    color: #1abc9c;
    
}


  /*section {
      width: 1600px;
      height: auto;
  }*/
.slider {
    position: relative;  
    width: 1600px;
    height: 602px;
    margin: 0 auto;
    background-image: url("../img5/slide4.jpg");
    background-color: #181819;
    background-size: cover;
    opacity: 1;
    


}
.imgslider {
    position: absolute;
    width: 1600px;
    height: 607px;
    margin: 0px auto;
    
  
}
.slider-ctrl-tentative {
    position: absolute;
    top: 40%;
    left: 16%;      
    display: inline-block;
    background-color:  #1abc9c;
    background-image: url("../icon5/ctrl-prev.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    border: none;
    width: 106px;
    height: 106px;
    
    /*z-index: 3;*/
    


}
.slider-ctrl-next {
  position: absolute;
  top: 40%;
  right: 16%;    
  display: inline-block;
  background-color:  #1abc9c;
  background-image: url("../icon5/ctrl-next.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  border: none;
  width: 106px;
  height: 106px;
  
  
  


}
.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.slider-list{
  position: absolute;
  display: inline-block;
  width: 906px;
  height: 118px;
  top: 36%;
  left: 23%;
  
  
}

.title {
       
    color: white;
    font-family: 'Roboto black', sans-serif;
    font-size: 45px;
    font-weight: 900; 
    padding-bottom: 22px;
    padding-left: 80px;
    
    
    
}
.text {
       
    color: white;
    font-family: 'Roboto black', sans-serif;
    font-size: 19px;
    font-weight: 100;
    padding-left: 80px;
   
    
    

}
.slider-ctrl:hover {
    background-color: teal;
}
.tentative{
    margin: 0px;
   left: 15%;
}
.next{
    margin: 0px;
    right: 15%;
}

.titile_NEWCOLLECTION
{
    margin: 0px;
    position: relative;    
    font-family: "Roboto black", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #515151;
    text-align: center;
    letter-spacing: -0.1em;
    padding-bottom: 118px;
    
}
.titile_NEWCOLLECTION::after
 {
        content: "";
        position: absolute;
        top: 67px;
        right: calc(50% - 105px);
        height: 7px;
        width: 165px;
        background-color: #1abc9c;

}


.item-block:hover  .name-item
 {  color: white;
 
    background-color:#1abc9c;

}
.item-block:hover  .price-item {
    color: white;
    background-color: #7fd9c7;
}


ul .item-block:nth-child(4n) { margin-right: 0px;}


ul {
    
    margin: 0px;
    display:inline-block;
     
   
   
} 


.item-block {
    position: relative;
    margin: 0px;
    padding: 0px;  
    display:inline-block;
    margin-right: 25px;   
    text-align: center;
  }
  .item-block:hover .blackmenu {
      opacity: 0.8;
  }
  .iconheart:hover {
      background-color: #1abc9c;
      

  }
  
.iconheart1:hover {
    background-color: #1abc9c;
    

}
.iconheart1:hover {
    background-color: #1abc9c;
    

}
  
.iconarrow1:hover {
    background-color: #1abc9c;
    

}
.iconclock1:hover {
    background-color: #1abc9c;
    

}
  .name-item {
    text-align: center;
    padding: 14px ;
  }
  
  .price-item {
    text-align: center;
    padding: 14px 0;
  }
 
    

  .cataloge_img
  {
      margin: 0px ;
      padding: 0px;
      
      
  }

  
  .cataloge_img::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    max-width: 255px;
    z-index: -1
  }
  
  .name-item {
    position: absolute;
    display: block;
    bottom: -3%;
    width: 172px;
    color: white;
    background-color: #323232 ;
    font-family: "Roboto black", sans-serif;
    font-weight: 700;
  }
  .price-item {
    position: absolute;
    display: block;
    margin-left:-4px;
    width: 55px;
    right: 0;
    bottom: -3%;
    color: white;
    background: #8c8c8c;
    font-family: "Roboto black", sans-serif;
    font-weight: 700;
  }
  .blackmenu {
      margin: 0px;
      padding: 0px;
      position: absolute;     
      background-color: #737373;
      opacity: 0;
      top:10px;
      left:10px;
      width: 235px;
      height: 265px;
  }
      
  .blackmenu ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      width: 170px;
      height: 110px;
      margin-top: 80px;
  }
  .iconmenu {
      margin: 0px;
      padding: 0px;
      display: inline-block;
  }
  .iconheart1{
    background-image: url("../icon5/icon1.png");      
    background-color: #737373;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    font-size: 40px;
    color: rgb( 255, 255, 255 );
}
.iconarrow1{
    background-image: url("../icon5/icon2.png");      
    background-color: #737373;
    background-repeat: no-repeat;
    background-position: center;     
    background-color: #737373;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    font-size: 40px;
    color: rgb( 255, 255, 255 );
}
.iconclock1{
    background-image: url("../icon5/icon3.png");      
    background-color: #737373;
    background-repeat: no-repeat;
    background-position: center;      
    background-color: #737373;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    font-size: 40px;
    color: rgb( 255, 255, 255 );
}
.cart1 {
    text-align: center;
    padding: 14px 0;
   
}
.cart1 { 
    position: absolute;
    background-image: url("../icon5/icon4.png" );      
    background-color: #323232;
    background-repeat: no-repeat;
     
  left: 35px;
  top: 137px;
  width: 160px;
  color: white;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  font-family: "Open+Sans", sans-serif;
  

}
  .icon {
     
      margin: 0px;
      padding: 0px; 
      width: 235px;
      height: 265px;     
      margin-right: 9px;
      
  }
  .iconheart{
      display:inline-block;    
      background-color: #737373;
      opacity: 1;
      margin-top: 80px;
      width: 50px;
      height: 50px;
      border-width: 1px;
      border-style: solid;
      font-size: 40px;
      color: rgb( 255, 255, 255 );
  }
  .cart {
      text-align: center;
      padding: 14px 0;
     
  }
  .cart {
    position: absolute;
    display: block;
    left: 35px;
    top: 137px;
    width: 160px;
    color: white;
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    font-family: "Open+Sans", sans-serif;
    background-color: #323232;

  }
 
  

  .clearfix {
    content:'';
    clear: both;
    display: block;

  }
  footer 

{   position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 1600px;
    height: 90px;
    background-color: #323232;
    color: white;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.end {
    position: absolute;
    top: 40%;
    left: 37%;

}
.autor{
    color: #1abc9c;
}
