*{
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
nav ul li {       
    list-style: none;    

}
 
 .navigation
{
    height: 90px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    

}

section {
    margin: 0 auto;
}
.list-navigation {
   min-width: 492px; 
   display: inline-flex;
   justify-content: space-between;
   
}

  
  
.logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #95e1d3;
    font-size: 30px;
    
    
}
.item {
    position: relative;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #95e1d3;
    font-size: 14px;

    
}
h2 ul li {       
    list-style: none;    

}

.item::after {
    position: absolute;
    background-color: #f38181;
    content: "";
    top: 25px;
    left: 0;
    height: 3px;
    width: 100%;
    opacity: 0;
    

}
.item:hover {
    color: #f38181;
    transition: color 0.3s linear;
    
    
}
.item:hover::after{
       opacity: 1 ;
       transition: opacity 200ms linear;
    
    
}
  
  

.first-part {
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    padding-top: 100px;
    text-align: center;
    font-family:'Kaushan Script', cursive;
    font-size: 24px;
  
    
}
.first-part-item1 {
    
    margin: 0px;
    text-align: center;
    padding-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.first-part::after {
        content: "";        
        margin: 0 auto;       
        height: 4px;
        width: 60px;
        background-color: #f38181;


}

/* SERVIS*/
.list-servis{
    margin: 0px auto;
    padding-top: 66px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
    
}
.item-servis {
    position: relative;
    width: 320px;
    padding-left: 80px;
    padding-bottom: 104px;
   
    


}
.item-servis:nth-child(n+4) {
    padding-bottom: 0px;
}

.item-servis::before {
    content: '';
     
    display:inline-block;                
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    width: 33px;
    height: 33px;
    margin-right: 26px;
    
        
}
.photography::before {
    position: absolute;
    left: 26px;
    background-image: url("../icon6/Photography.png");

}
.web-disign::before {
    position: absolute;
    left: 26px;
    background-image: url("../icon6/Web Design.png");

}
.creativity::before {
    position: absolute;
    left: 26px;
    background-image: url("../icon6/Creativity.png");

}
.seo::before {
    position: absolute;
    left: 26px;
    background-image: url("../icon6/seo.png");

}
.program::before {
    position: absolute;
    left: 26px;
    background-image: url("../icon6/Css_Html.png");

}
.digital::before {
    position: absolute;
    left: 26px;
    background-image: url("../icon6/digital.png");

}
 .icon-title{
  
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px; 
    font-weight: 100;
 }

  
.icon-text {
    
    font-size: 15px;
    font-family: "Roboto black", sans-serif;
    color: rgb( 153, 153, 153 );
    line-height: 2;
    top: 30px;
    left: 60px;

}

  
/* MEET OUR TEAM*/

.second-part {
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    padding-top: 100px;
    text-align: center;
    font-family:'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;    
    
}
.second-part-item2{
    display: block;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 42px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    
}
.second-part::after {
        content: "";        
        margin:  auto;
        top: 50px;       
        height: 4px;
        width: 60px;
        background-color: #f38181;
    
}



.text {
    text-align: center;
    max-width: 940px;    
    font-size: 15px;
    margin: 0 auto;
    font-family: "Roboto black", sans-serif; 
    line-height: 1.6;
    color: rgb( 153, 153, 153 );
    padding-top: 50px;
    padding-bottom: 86px; 
    
    

}



/* PICTURES TEAM*/
.team{
    margin: 0px auto;
}
.team ul li {
    list-style: none;
    margin: 0;   
    padding: 0px;

}


.list-team{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 86px;
    border-bottom: 1px #e5e5e5;

}

.item-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    
    

}
.name {   
    
    font-family: 'Montserrat', sans-serif;
    color: rgb( 51, 51, 51 );
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 31px;
}
.prof {

    text-align: center;
    font-family: "Roboto black", sans-serif;
    font-style: italic;
    color: rgb( 153, 153, 153 );
    font-size: 15px;
   
}

.team-pictures{ 
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;                
    background-color: #95e1d3;
    
    
    
    
} 


.orange {

        margin: 0px;
        padding: 0px;
        position: absolute;     
        background-image:linear-gradient( 90deg, rgba( 252, 227, 138, .9 ) 0%, rgba( 243, 129, 129,  .9 ) 100% );
        opacity: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s linear, transform 0.5s linear;  
    
}

.team-pictures:hover .orange{
        opacity: 0.9;  
        transform: translateX(-10px) translateY(-10px);
}
.team-pictures:hover .pictures {
   
    transform: translateX(-10px) translateY(-10px);
    
 
}
.pictures{
    display: block;
    max-width: 100%;
    height: auto;        
    transition: transform 0.5s linear; 
    
    
}

.social-list {

        list-style: none;
        display: flex;        
        justify-content: center;
        margin-top: 50%;   
}

.facebook {  
        display: block;
        background-image: url("../icon6/facebook.png");      
        background-color: #fce38a;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        width: 56px;
        height: 56px;
        margin-right: 1px;
        font-size: 40px;
        color: #f38181;
}
.facebook:hover {
    background-color: #95e1d3;
}
.twitter {  
    display: block;
    background-image: url("../icon6/twitter.png");      
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    width: 56px;
    height: 56px;
    margin-right: 1px;
    font-size: 40px;
    color: #f38181;
}
.twitter:hover {
    background-color: #95e1d3;
}
.pinterest {  
    display: block;
    background-image: url("../icon6/pinterest.png");      
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1px;
    opacity: 1;
    width: 56px;
    height: 56px;
    
    font-size: 40px;
    color: #f38181;
}
.pinterest:hover {
    background-color: #95e1d3;
}
.instagram {  
    display: block;
    background-image: url("../icon6/instagram.png");      
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    opacity:1;
    width: 56px;
    height: 56px;
    font-size: 40px;
    color: #f38181;
}
.instagram:hover {
    background-color: #95e1d3;
}
/*FOOTER*/
 .footer-container{ 
 
     border-top: 1px solid #e5e5e5 ;
     display: flex;
     justify-content: space-between;
     margin: 0 auto; 
     width: 1200px;
     height: 62px;
     padding: 0;
 }
 footer ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


 
form {
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;


}
.footer-text {
    left: 0px;
    margin-top: 26px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb( 51, 51, 51 );

}
input {
    height: 38px;
    font-family: 'roboto';
    font-style: italic;
    font-size: 15px;
    padding-left: 10px;
    color: rgb( 204, 204, 204 );
    
}
input::placeholder {
    font-family: 'roboto';
    font-style: italic;
    font-size: 15px;
    color: red;

}
button{
    border: none;
    width: 152px ;
    height: 42px;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color:#95e1d3 ;
}

.laaqiq {
    color: #f6a6a6;
}

  


  
  

