*{
    margin: 0px;
    padding: 0px;
}
.container {
    width: 934px;   
    margin: 0 auto;
    padding: 0;
}
nav ul li {   
        
    list-style: none; 
      

}

section{
    /*margin: 0 auto;
    width: 1400px;*/
    height: auto;

}

 /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts7/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts7/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts7/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts7/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts7/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts7/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  } 
  /* rouge-script-regular - latin */
@font-face {
    font-family: 'Rouge Script';
    font-style: normal;
    font-weight: 400;
    src: local('Rouge Script'), local('RougeScript-Regular'),
         url('../fonts7/rouge-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts7/rouge-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* tinos-italic - latin */
@font-face {
    font-family: 'Tinos';
    font-style: italic;
    font-weight: 400;
    src: local('Tinos Italic'), local('Tinos-Italic'),
         url('../fonts7/tinos-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts7/tinos-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* Header navigator*/

 
 .navigation {
    margin: 0 auto;
    
    /*height: 100px;*/
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    

}

.list-navigation {
   min-width: 500px; 
   display: inline-flex;
   align-items: center;
   justify-content: space-between;

   
}
.logo {
    text-decoration: none;
    font-family: 'Rouge Script', sans-serif;
    color: #fed136;
    font-size: 40px;
    font-weight: 400;
    
}
.item {
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal ;
    text-transform: uppercase ;
    color: black;
    font-size: 14px;

    
}
.item:hover {
    color:#fed136;
    
    
    
}
/*Servis menu*/
h2 ul li {       
    list-style: none;    

}
.title-services {
    margin: 0 auto;    
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 24px;
    text-align: center;    
    
}
.title-services-inform{
    margin: 0px;
    text-align: center;    
    font-family: 'Tinos', sans-serif;
    font-style: italic;
    padding-bottom: 54px;
    font-size: 16px;
    color: rgb( 119, 119, 119 );
    
}

/* SERVIS*/
.list-servis{
    margin: 0px auto;
    width: 940px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    
}
.item-servis {
    text-align: center;
    width: 270px;
   /* height: 210px;*/
    
    


}

.item-servis::before {
    content: '';
     
    display:inline-block;                
    background-repeat: no-repeat;
    background-position: center;
    
    width: 72px;
    height: 72px;
    
    
    
        
}
.icon-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
  
    padding-bottom: 25px;

}
.icon-text {
    /*font-family: 'roboto-slab', sans-serif;*/
    font-family: 'Roboto Slab';
    font-size: 14px;
    font-style: normal;
    color: rgb( 119, 119, 119 );
    padding-bottom: 25px;

}

  
.e-commers::before {
    background-image: url("../icon7/icon-basket.png");
    color: #fed136;
    border: 2px solid  ;
    border-radius: 50% ;
    

}
.responsive-web::before {
    background-image: url("../icon7/icon-laptop.png");
    color: #fed136;
    border: 2px solid  ;
    border-radius: 50% ;
    

}
.wed-security::before {
    background-image: url("../icon7/icon-locked.png");
    color: #fed136;
    border: 2px solid  ;
    border-radius: 50% ;


}
.blackmap{
    margin: 0 auto;    
    background-image: url("../image7/map_image.png");
    margin-top: 115px;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: 100% 118%;
    


}
.title-contact {
    margin: 0 auto;    
    text-align: center;
    font-family:'Montserrat', sans-serif;    
    font-weight: bold;   
    font-size: 40px;
    color: white;
    padding-top: 112px;
    padding-bottom: 24px;
    text-align: center;    
    
}
.title-contact-inform{
    margin: 0px;
    text-align: center;    
    font-family: 'Tinos', sans-serif;
    font-style: italic;
    padding-bottom: 54px;
    font-size: 16px;
    color: rgb( 119, 119, 119 );
    
} 
form {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    width: 940px;
    height: 434px;  
    
    
    
}
   
.messagemenu {
    margin: 0 auto;       
    display: flex;
    /*font-family:'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #bbbbbb;*/
    flex-direction: row;    
    justify-content: space-between;
    width: 940px;
    /*height: 214px;*/


}
.informclient {
    margin: 0;
    padding: 0px;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 454px;
    /*height: 212px;*/


}
.sendmessage {
    margin: 0 auto;
}
input {
    width: 454px;
    height: 54px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb( 119, 119, 119 );
    
}
.informclient :focus:valid {
    outline-color: green;
    outline-width: 5px;
    outline-style: dotted;
}
.informclient :focus:invalid {
    outline-color: red;
    outline-width: 3px;
    outline-style: dotted;
}
.informclient :placeholder-shown{
    outline-width: 0px;
}
textarea {
    width: 450px;
    height: 200px;
    border-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    resize: none;
    padding-top: 10px;
    
    color: rgb( 119, 119, 119 );

}
.sendmessage input {
    width: 242px;
    height: 64px;
    border: none;
    color: white;
    background-color: #fed136;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
