
     

*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
}
.container {
    width: 1110px;
    height: auto;
    margin: 0 auto;
}
nav ul li {   
     
    list-style: none;
    float: left;     

}
.navigator {
    display: block;
    float: right;
}
.basicitem {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
} 
 a {
    
    font-family: 'Open+Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: 900;
    margin: 0px;

}

li
{ margin-right: 30px;}
.basicitem .item:last-child {
    margin-right: 0px;
}

.item :hover { color: #1abc9c  ;}

.logotype 
{
    float: left;    
    
}
.logotype {
    font-family: 'Roboto black', sans-serif;
    font-size: 21px;
    font-weight: 100;
}
.logotype::first-letter {
    color: #1abc9c;
    
}
header {
    
    padding-bottom: 112px;
   
}

.wrapper 
{

width: 1110px;
height: auto; 
}
.item {
    list-style: none;

}


.title1{
    position: relative;
    font-family: "Roboto black", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #515151;
    text-align: center;
    letter-spacing: -0.1em;
    margin-bottom:40px;
}
.title1::after{
    content: "";
    position: absolute;
    top: 67px;
    right: calc(50% - 105px);
    height: 7px;
    width: 165px;
    background-color: #1abc9c;
}
.item-block:hover  .img::before{
    background-color: #e9f0fd;
}
 .item-block:hover  .name-item, .item-block:hover  .price-item
 {  color: white;
    background-color:  rgba(26, 188, 156);
}
ul .item-block:nth-child(4n) { margin-right: 0px;}

.list{
    margin: 0px;
    display: block;
    width: 1110px;
    float: left;
} 

.item-block {
    margin: 0px;
    float: left;
    display: block;
    margin-top: 93px;
    margin-right: 30px;
    margin-bottom: 32px;
    max-width: 255px;
  }
  
  .name-item {
    padding: 14px;
  }
  
  .price-item {
    text-align: center;
    padding: 14px 0;
  }
  .img {
    width: 255px;
    height: 282px;
    position: relative;
  }
  
  .img::before {
    content: "";
    position: absolute;
    background-color:#e9f0fd;
    width: 100%;
    height: 282px;
    z-index: -1;
  }
  
  .name-item {
    display: inline-block;
    width: 172px;
    background-color: #323232;
    font-family: "Roboto black", sans-serif;
    font-weight: 700;
  }
  .price-item {
    display: inline-block;
    margin-left:-4px;
    width: 55px;
    background: #8c8c8c;
    font-family: "Roboto black", sans-serif;
    font-weight: 700;
  }
  .clearfix {
    content:'';
    clear: both;
    display: block;

  }
  
  .wrapper::after{
    content:'';
    clear: both;
    display: block;

  }
.wrapper2 
{   display: block;
    float:left;
    margin: 0px;
    width: 1110px;
    height: auto; 
}

  .title2{
    margin: 0px;
    padding: 0px;
    margin-top: 65px;
   
}
.title2{
    position: relative;
    font-family: "Roboto black", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #515151;
    text-align: center;
    letter-spacing: -0.1em;
    margin-bottom: 40px;
}
.title2::after{
    content: "";
    position: absolute;
    top: 67px;
    right: calc(50% - 105px);
    height: 7px;
    width: 165px;
    background-color: #1abc9c;
}

 .item-block_LATEST 
{ 
    list-style: none;
}

.itemimg {
    margin: 0px;
    padding: 0px;
   display: block;    
   float: left;  
   margin-top: 135px;
    margin-right: 28px;
    margin-bottom: 20px;
    max-width: 351px;
    max-height: auto;
}
.item-block_LATEST :last-child {margin-right: 0px;}
.img2{
    width: 350px;
    height: 261px;
    
  }
  
  .greenbutton {
      border: 1px solid  #1abc9c;
      display: inline-block;
      padding: 21px 42px;
      text-decoration: none;   
      
      font-size: 14px;
      font-family: "Open Sans", sans-serif;      
      background-color: #1abc9c;
      color: white ;
      ;
  }
.paragraph 
{   margin: 0px;
    margin-bottom: 50px;
    font-family: "Open sans", sans-serif ;
    font-size: 17px;
    font-weight: 600;

}
 hr {
     
     border: 0px;
     background-color: #1abc9c;
     color: #1abc9c;
     width: 167px;
     height: 4px;
     margin-top: 15px;
    
}
.paragraph2 {
    margin: 0px;
    margin-bottom: 21px;
}

  
  .clearfix {
    content:'';
    clear: both;
    display: block;
}


